<app-navbar></app-navbar>
<div class="documentacion">
  <h1>Documentacion</h1>
  <p><b>Mi Anthro</b> es una aplicacion diseañada para profesionales nutricionistas o profesionales de la salud ,
  con el fin de facilitar la valoracion peso para la talla en niños y niñas entre 0 y 2 años.
  <b>Mi Anthro</b> usa un modelo de machine learning entrenado , especificamente el modelo arbol de decision programado con python y la herramienta sklearn.
  mas informacion y el codigo <a href="">aquÍ</a>

  </p>
  <p>
    IMPORTANTE los datos que el usuario suministre no se guardarán , por lo cual puede estar tranquilo por el tratamiento de los datos
  </p>
  <p>
    Ojo <b>Mi Anthro</b> no es responsable de los datos que se le suministran , es importante que el profesional antes de subir el documento revise los datos
    y determine si son los datos correctos de la toma
  </p>

</div>
<app-footer></app-footer>
