<div class="footer" id="social">
  <div class="datos">

      <div class="contact">
        <i class="fa-solid fa-phone"></i>
        <p>3223781477</p>
      </div>

      <div class="contact">
        <i class="fa-solid fa-envelope"></i>
        <p>elementary@outlook.es</p>
      </div>


  </div>
  <div class="redes">
    <h3>Redes Sociales</h3>
    <a href="https://www.facebook.com/ivanguerrerosanchez25" target="_blank">
      <i class="fa-brands fa-facebook"></i></a>
     <a href="https://github.com/Flukus99" target="_blank">
      <i class="fa-brands fa-github"></i>
     </a>
     <a href="https://www.linkedin.com/in/ivan-guerrero-sanchez-569a43182/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
     </a>
     <a href="https://wa.me/573223781477" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
     </a>

  </div>
  <div class="copy">
    <h6>copyright</h6>
    <i class="fa-solid fa-copyright"></i>
    <h6>Ivan guerrero sanchez (Flukus99)</h6>
  </div>
</div>
